.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.CPU,.motherboard,.Cooler,.RAM,.videoCard,.SSD,.frame,.power,.monitor{
    display: flex;
    align-items: center;
}
img{
    transition: 0.5s;
}
img:hover{
    transform: scale(1.1);
}
p{
    margin: 20px;
}